<!DOCTYPE html>
<html>
	<head>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{{ asset('assets/css/vendor.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/bundles.css') }}" />
		<link rel="stylesheet" href="{{ asset('vendor/blueimp-file-upload/css/jquery.fileupload.css') }}" />
    	<link rel="stylesheet" href="{{ asset('bundles/baconmedialibrary/css/style.css') }}" />
	{% endblock stylesheets %}
	</head>

	<body>
	{% block content %}
		{% include '@BaconMediaLibrary/Partial/modalAjax.html.twig' with {
			theme_modal: '',
			theme_button_class: 'btn-primary',
			upload_title_modal: 'Box upload Media',
			theme_icon_upload: 'glyphicon glyphicon-upload',
			theme_button_footer_class_selected: 'btn btn-success',
			theme_button_footer_class_close: 'btn btn-default',
			layoutExtends: 'BaconCoreBundle::layout.html.twig',
			pagination: pagination
		} %}
	{% endblock content %}
	{% block javascripts %}
		<script src="{{ asset('assets/js/vendor.js') }}"></script>
		<script src="{{ asset('assets/js/bundles.js') }}"></script>
		<script src="{{ asset('vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
		<script src="{{ asset('vendor/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
		<script src="{{ asset('vendor/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
		<script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
		<script src="{{ asset('bundles/baconmedialibrary/js/upload.js') }}"></script>
		<script src="{{ asset('bundles/baconmedialibrary/js/upload.ckeditor.js') }}"></script>
	{% endblock %}
	</body>
</html>