{% extends layoutExtends %}
{% block body %}
<!--<div class="modal {{ theme_modal }} fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <div class="modal-dialog modal-lg" role="document">

      {% include '@BaconMediaLibrary/Partial/uploads.html.twig' with {
        upload_title_modal: 'Box upload Media',
        pagination: pagination,
        theme_button_class: 'btn btn-lg btn-primary',
        theme_icon_upload: 'glyphicon glyphicon-upload',
        theme_button_footer_class_close: 'btn btn-lg btn-default',
        theme_button_footer_class_selected: 'btn btn-lg btn-success'
      } %}

    </div>
<!--</div>-->
{% endblock body %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('vendor/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('vendor/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script>
        $('#fileupload').fileupload({
            dataType: 'json',
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                console.log(progress)
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            },
            done: function (e, data) {
                console.log(e);
                console.log(data);
            }
        });

    </script>
{% endblock javascripts %}